<form action="/upload" method="POST" enctype="multipart/form-data">

    <label for="titulo">Titulo</label>
    <input type="text" name="titulo" placeholder="Titulo">
    <br>
    <label for="descripcion">Descripción</label>
    <textarea name="descripcion" cols="40" rows="20"></textarea>
    <br>
    <label for="fecha">Fecha</label>
    <input type="text" name="fecha" placeholder="Fecha">
    <br>
    <label for="image">Imagen</label>
    <input type="file" name="image">
    <br>
    <label for="video">Video</label>
    <input type="file" name="video">


    <input type="text" name="idQuiz" value="1" hidden="true">
    <input type="text" name="idAutor" value="3" hidden="true">
    <input type="text" name="idCategoria" value="1" hidden="true">
    <input type="text" name="idTecnica" value="1" hidden="true">

    <input type="submit" value="Enviar">


</form>